{{#if delete}}<h3>Thank you for using the application.</h3>{{/if}}
{{#if logout}}<h3>You have been logged out succeefully. please <a href="/signup/initial">click here to login</a> again</h3>{{/if}}
