{{#if invalidUser}}
<h3>Looks like you are not authorized to do this, please sign in again to continue</h3>
{{else}}
<h3>Technical glitch. Report the following error to the sharemyride team to recover. Error is:{{error}}</h3>
{{/if}}